INSTALL
Makefile.in
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
data/Makefile.in
data/gpdftext.1
depcomp
gnome-doc-utils.make
gpdftext*.tar.*
help/Makefile.in
install-sh
ltmain.sh
m4/
missing
omf.make
po/Makefile.in.in
src/Makefile.in
xmldocs.make

